/* 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav div {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

nav input[type="text"] {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav div {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 5px 0;
    }

    nav div:last-child {
        align-items: flex-start;
        width: 100%;
    }

    nav input[type="text"] {
        width: 100%;
        margin-top: 10px;
    }
} */


.pro{
    display: 'flex';
    justify-content: 'space-between';
    align-items: 'center';
    /* padding: '20px' */
}

@media (max-width: 600px) {
    .pro{
        display: 'flex';
        flex-direction: column;
        justify-content: 'space-between';
        align-items: 'center';
        /* padding: '20px' */
    }
}
